<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <title>Bootstrap Admin Template </title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">

    <!-- global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/font-icon-style.css">
    <link rel="stylesheet" href="/static/css/style.default.css" id="theme-stylesheet">

    <!-- Core stylesheets -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/form.css">
    <link href="/static/css/city-picker.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/main.css" rel="stylesheet" type="text/css" />


</head>

<body>

<!--====================================================
                     头部栏
======================================================-->
<header class="header">
    <!--引入侧边栏;传入参数-->
    <div th:replace="topbar::#topbar"></div>
</header>

<!--====================================================
                    页面
======================================================-->
<div class="page-content d-flex align-items-stretch">

    <!--***** 左侧导航栏 *****-->
    <!-- 用户栏 -->
    <!--引入侧边栏;传入参数-->
    <div th:replace="sidebar::#sidebar"></div>

        <div class="content-inner chart-cont">

            <!--***** FORM LAYOUTS *****-->
            <div class="row">
                <div class="col-md-12">

                    <!--***** USER INFO *****-->
                    <div class="card form" id="form1">
                        <div class="card-header">
                            <h3><i class="fa fa-archive"></i>批量下单</h3>
                        </div>
                        <br>
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="sender-name">寄件人姓名</label>
                                        <input type="text" class="form-control" id="sender-name" aria-describedby="emailHelp"
                                            placeholder="寄件人姓名">
                                    </div>
                                    <div class="form-group">
                                        <label for="sender-tel">联系电话</label>
                                        <input type="text" class="form-control" id="sender-tel" aria-describedby="emailHelp"
                                            placeholder="寄件人电话">
                                    </div>
                                    <div class="form-group">
                                        <label for="sender-tel">寄件地址</label>
                                        <!-- <input type="text" class="form-control" id="sender-city" aria-describedby="emailHelp"
                                            placeholder="请选择 省/市"> -->

                                        <input id="city-picker3" class="form-control" readonly type="text" value="河南省/郑州市/二七区"
                                            data-toggle="city-picker">


                                    </div>
                                    <div class="form-group">
                                        <label for="sender-tel">街道</label>
                                        <input type="text" class="form-control" id="sender-street" aria-describedby="emailHelp"
                                            placeholder="填写详细地址">
                                    </div>


                                </div>

                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <h4 style="border-bottom: 1px solid #ddd;">订单信息</h4>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-12 third-button">
                                    <button type="button" class="btn btn-warning">上传Excel模板</button>
                                    <button type="button" class="btn btn-warning">下载快递模板</button>
                                </div><br>
                            </div>
                            <div class="row mt-2" style="overflow-y:Scroll;overflow-x:hidden;max-height: 500px">
                                <table class="table table-light table-responsive" style="min-height: 200px;">
                                    <thead>
                                        <tr>
                                            <th><label class="custom-control custom-checkbox">
                                                    <input id="baojia" type="checkbox" class="custom-control-input"
                                                        required>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">全选</span>
                                                </label></th>
                                            <th>收件人姓名</th>
                                            <th>联系电话</th>
                                            <th>地址</th>
                                            <th>货物信息</th>
                                            <th>重量</th>
                                            <th>体积</th>
                                            <th>保价</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>
                                                <label class="custom-control custom-checkbox">
                                                    <input id="baojia" type="checkbox" class="custom-control-input"
                                                        required>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">&nbsp;</span>
                                                </label>
                                            </th>
                                            <th>杨军超</th>
                                            <th>13599658745</th>
                                            <th>河南省-郑州市-金水区-杨金路牛顿国际</th>
                                            <th>衣服</th>
                                            <th>1Kg</th>
                                            <th>3</th>
                                            <th>无</th>
                                            <th>
                                                <button name="" id="" class="btn btn-info btn-sm" type="button">编辑</button>
                                                <button name="" id="" class="btn btn-danger btn-sm" type="button">删除</button>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <label class="custom-control custom-checkbox">
                                                    <input id="baojia" type="checkbox" class="custom-control-input"
                                                        required>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">&nbsp;</span>
                                                </label>
                                            </th>
                                            <th>杨军超</th>
                                            <th>13599658745</th>
                                            <th>河南省-郑州市-金水区-杨金路牛顿国际</th>
                                            <th>衣服</th>
                                            <th>1Kg</th>
                                            <th>3</th>
                                            <th>无</th>
                                            <th>
                                                <button name="" id="" class="btn btn-info btn-sm" type="button">编辑</button>
                                                <button name="" id="" class="btn btn-danger btn-sm" type="button">删除</button>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <label class="custom-control custom-checkbox">
                                                    <input id="baojia" type="checkbox" class="custom-control-input"
                                                        required>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">&nbsp;</span>
                                                </label>
                                            </th>
                                            <th>杨军超</th>
                                            <th>13599658745</th>
                                            <th>河南省-郑州市-金水区-杨金路牛顿国际</th>
                                            <th>衣服</th>
                                            <th>1Kg</th>
                                            <th>3</th>
                                            <th>无</th>
                                            <th>
                                                <button name="" id="" class="btn btn-info btn-sm" type="button">编辑</button>
                                                <button name="" id="" class="btn btn-danger btn-sm" type="button">删除</button>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <label class="custom-control custom-checkbox">
                                                    <input id="baojia" type="checkbox" class="custom-control-input"
                                                        required>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">&nbsp;</span>
                                                </label>
                                            </th>
                                            <th>杨军超</th>
                                            <th>13599658745</th>
                                            <th>河南省-郑州市-金水区-杨金路牛顿国际</th>
                                            <th>衣服</th>
                                            <th>1Kg</th>
                                            <th>3</th>
                                            <th>无</th>
                                            <th>
                                                <button name="" id="" class="btn btn-info btn-sm" type="button">编辑</button>
                                                <button name="" id="" class="btn btn-danger btn-sm" type="button">删除</button>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <label class="custom-control custom-checkbox">
                                                    <input id="baojia" type="checkbox" class="custom-control-input"
                                                        required>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">&nbsp;</span>
                                                </label>
                                            </th>
                                            <th>杨军超</th>
                                            <th>13599658745</th>
                                            <th>河南省-郑州市-金水区-杨金路牛顿国际</th>
                                            <th>衣服</th>
                                            <th>1Kg</th>
                                            <th>3</th>
                                            <th>无</th>
                                            <th>
                                                <button name="" id="" class="btn btn-info btn-sm" type="button">编辑</button>
                                                <button name="" id="" class="btn btn-danger btn-sm" type="button">删除</button>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <label class="custom-control custom-checkbox">
                                                    <input id="baojia" type="checkbox" class="custom-control-input"
                                                        required>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">&nbsp;</span>
                                                </label>
                                            </th>
                                            <th>杨军超</th>
                                            <th>13599658745</th>
                                            <th>河南省-郑州市-金水区-杨金路牛顿国际</th>
                                            <th>衣服</th>
                                            <th>1Kg</th>
                                            <th>3</th>
                                            <th>无</th>
                                            <th>
                                                <button name="" id="" class="btn btn-info btn-sm" type="button">编辑</button>
                                                <button name="" id="" class="btn btn-danger btn-sm" type="button">删除</button>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <label class="custom-control custom-checkbox">
                                                    <input id="baojia" type="checkbox" class="custom-control-input"
                                                        required>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">&nbsp;</span>
                                                </label>
                                            </th>
                                            <th>杨军超</th>
                                            <th>13599658745</th>
                                            <th>河南省-郑州市-金水区-杨金路牛顿国际</th>
                                            <th>衣服</th>
                                            <th>1Kg</th>
                                            <th>3</th>
                                            <th>无</th>
                                            <th>
                                                <button name="" id="" class="btn btn-info btn-sm" type="button">编辑</button>
                                                <button name="" id="" class="btn btn-danger btn-sm" type="button">删除</button>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <label class="custom-control custom-checkbox">
                                                    <input id="baojia" type="checkbox" class="custom-control-input"
                                                        required>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">&nbsp;</span>
                                                </label>
                                            </th>
                                            <th>杨军超</th>
                                            <th>13599658745</th>
                                            <th>河南省-郑州市-金水区-杨金路牛顿国际</th>
                                            <th>衣服</th>
                                            <th>1Kg</th>
                                            <th>3</th>
                                            <th>无</th>
                                            <th>
                                                <button name="" id="" class="btn btn-info btn-sm" type="button">编辑</button>
                                                <button name="" id="" class="btn btn-danger btn-sm" type="button">删除</button>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <label class="custom-control custom-checkbox">
                                                    <input id="baojia" type="checkbox" class="custom-control-input"
                                                        required>
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">&nbsp;</span>
                                                </label>
                                            </th>
                                            <th>杨军超</th>
                                            <th>13599658745</th>
                                            <th>河南省-郑州市-金水区-杨金路牛顿国际</th>
                                            <th>衣服</th>
                                            <th>1Kg</th>
                                            <th>3</th>
                                            <th>无</th>
                                            <th>
                                                <button name="" id="" class="btn btn-info btn-sm" type="button">编辑</button>
                                                <button name="" id="" class="btn btn-danger btn-sm" type="button">删除</button>
                                            </th>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>


                            <button type="submit" class="btn btn-general btn-blue mr-2">提交</button>
                            <button type="reset" class="btn btn-general btn-white">清空</button>
                        </form>
                    </div>


                </div>

            </div>
        </div>

    </div>


    <!--Global Javascript -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper/popper.min.js"></script>
    <script src="/static/js/tether.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/jquery.validate.min.js"></script>
    <script src="/static/js/chart.min.js"></script>
    <script src="/static/js/front.js"></script>
    <script src="/static/js/city-picker.data.js"></script>
    <script src="/static/js/city-picker.js"></script>
    <script src="/static/js/main.js"></script>

    <!--Core Javascript -->
    <script src="/static/js/mychart.js"></script>
</body>
<script>
    $("#baojia").on("click", function () {
        if ($(this).prop("checked")) {
            $(".baojia").prop("hidden", false)
        } else {
            $(".baojia").prop("hidden", "hidden")
        }
    })
</script>

</html>