<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <title>Title</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/city-picker.css">

    <!-- global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed"
          rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/font-icon-style.css">
    <link rel="stylesheet" href="/static/css/style.default.css"
          id="theme-stylesheet">
    <link rel="stylesheet" href="/static/css/form.css">
    <!-- Core stylesheets -->
    <link rel="stylesheet" href="/static/css/ui-elements/card.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.css"
          media="screen">
    <link rel="stylesheet" href="/static/css/ui-elements/button.css">

</head>
<body>

<!--====================================================
                         头部栏
======================================================-->
<header class="header">
    <!--引入头部栏;传入参数-->
    <div th:replace="topbar::#topbar"></div>
</header>

<div class="page-content d-flex align-items-stretch">

    <!--***** 左侧导航栏 *****-->
    <!-- 用户栏 -->
    <!--引入侧边栏;传入参数-->
    <div th:replace="sidebar::#master-sidebar"></div>


    <div class="content-inner">

        <div class="row">
            <div class="col-md-12">

                <!--*****	站点信息	 *****-->
                <div class="card form" id="form1">
                    <div class="card-header">
                        <h3>
                            <i class="icon icon-bill"></i>&nbsp;&nbsp;站点管理中心
                        </h3>
                    </div>
                    <br>
                    <form action="/selectSite" method="post" class="form-inline">
                        <!--<div class="col-md-3">-->
                        <!--<div class="form-group">-->
                        <!--<label for="site-number">站点编号：</label> <input type="text"-->
                        <!--class="form-control w-100"-->
                        <!--id="site-number"-->
                        <!--placeholder="请输入要查询的站点编号">-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="city-picker1">站点地址</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input id="city-picker1" class="form-control w-100" type="text"
                                       value="河南省/郑州市" data-toggle="city-picker" name="selectByCityName">
                            </div>

                        </div>


                        <div class="col-md-2">
                            <div class="form-group">
                                <button type="submit" class="btn btn-boxs btn-2"
                                        style="margin-bottom: -10px; width: 100px; height: 50px; padding-top: 3px;">
                                    <b>查&nbsp;&nbsp;询</b>
                                </button>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group"></div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <!--<button class="btn btn-boxs btn-4" style="margin-bottom: -10px;width: 100px; height: 50px; padding-top: 3px;" data-toggle="modal" data-target="#add-site"><b>新增站点</b></button>-->
                                <a class="btn btn-boxs btn-4" href="#add-site"
                                   style="margin-bottom: -10px; width: 100px; height: 50px; padding-top: 3px;"
                                   data-toggle="modal">新增站点</a>
                                <!--<a class="btn btn-boxs btn-4" href="" id="add-site-model"-->
                                <!--style="margin-bottom: -10px; width: 100px; height: 50px; padding-top: 3px;"-->
                                <!--&gt;新增站点2</a>-->
                            </div>
                        </div>
                    </form>
                    <br/> <br/> <br/>
                    <!--<br /> <br /> <br />-->

                    <div class="col-md-12">
                        <h4 style="border-bottom: 1px solid #ddd;">站点信息</h4>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                            <tr class="bg-info text-white">
                                <th>站点编号</th>
                                <th>站点名称</th>
                                <th>联系电话</th>
                                <th>站点信息修改</th>
                                <th>删除站点</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="site :${stations}">
                                <td th:text="${site.id}"></td>
                                <td th:text="${site.stationName}"></td>
                                <td th:text="${site.tel}"></td>

                                <!--<td><a href="#update-site"  class="btn btn-default btn-xs" id="update-site-model"-->
                                <!--style="text-align:left;margin-right: 0px;margin-bottom: 0px;height: 25px;padding-top: 0px;margin-top: -20px "-->
                                <!--data-toggle="modal">update</a></td>-->
                                <!--th:href="@{updateSite(id=${site.id})}"-->
                                <td><a href="#update-site" class="btn btn-default btn-xs" id="update-site-model"
                                       style="text-align:left;margin-right: 0px;margin-bottom: 0px;height: 25px;padding-top: 0px;margin-top: -20px "
                                       th:onclick="'javascript:query(\''+${site.id}+'\');'" data-toggle="modal"
                                >更新</a></td>

                                <td style="padding-top: 5px;padding-bottom: 5px">
                                    <a th:href="@{deleteSite(id=${site.id})}" onclick="return deleteSite()"
                                       class="btn btn-default btn-xs"
                                       style="text-align:left;margin-right: 0px;margin-bottom: 0px;height: 25px;padding-top: 0px;margin-top: -10px ">删除</a>
                                </td>
                            </tr>
                            </tbody>
                            <script>

                                function deleteSite() {
                                    var flag = confirm("确定要删除此站点的信息吗?");

                                    return flag;
                                }

                            </script>

                        </table>
                    </div>


                    <div class="col-md-12" align="center">
                        <!--<a href="#" class="btn btn-outline-info"-->
                        <!--style="width: 110px; height: 55px; margin-right: 0px;">首页</a> <a-->
                        <!--href="#" class="btn btn-outline-info"-->
                        <!--style="width: 110px; height: 55px; margin-right: 0px;">上一页</a>-->
                        <!--<a href="#" class="btn btn-outline-info"-->
                        <!--style="width: 110px; height: 55px; margin-right: 0px;">下一页</a>-->
                        <!--<a href="#" class="btn btn-outline-info"-->
                        <!--style="width: 110px; height: 55px;">尾页</a>-->

                        <a th:href="@{${stationindex}(selectByCityName=${selectByCityName},start=0)}"
                           class="btn btn-outline-info"
                           style="width: 110px; height: 55px; margin-right: 0px;">首页</a>
                        <a th:href="@{${stationindex}(selectByCityName=${selectByCityName},start=${pre})}"
                           class="btn btn-outline-info"
                           style="width: 110px; height: 55px; margin-right: 0px;">上一页</a>
                        <a th:href="@{${stationindex}(selectByCityName=${selectByCityName},start=${next})}"
                           class="btn btn-outline-info"
                           style="width: 110px; height: 55px; margin-right: 0px;">下一页</a>
                        <a th:href="@{${stationindex}(selectByCityName=${selectByCityName},start=${total})}"
                           class="btn btn-outline-info"
                           style="width: 110px; height: 55px;">尾页</a>

                    </div>

                    <!-- 模态框（Modal） update-site   -->
                    <div class="modal fade" id="update-site" tabindex="-1"
                         role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true"
                         style="z-index: 10000;">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">

                                    <h4 class="modal-title" id="myModalLabel2">
                                        <i class="icon" data-icon="g"></i>&nbsp;&nbsp;修改站点信息
                                    </h4>
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <!--*****	站点信息	 *****-->
                                    <div class="card form" id="form2">

                                        <form action="/updateSite">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="site-number-update">站点编号</label> <input type="text"
                                                                                                            class="form-control w-100"
                                                                                                            id="site-number-update"
                                                                                                            aria-describedby="emailHelp"
                                                                                                            placeholder="站点编号"
                                                                                                            readonly="readonly"
                                                                                                            name="siteId">
                                                    </div>
                                                    <br/>
                                                    <div class="form-group">
                                                        <label for="detailed-address-update">站点名称</label> <input
                                                            type="text" class="form-control w-100"
                                                            id="detailed-address-update" aria-describedby="emailHelp"
                                                            placeholder="详细地址" readonly>
                                                    </div>
                                                    <br/>
                                                    <div class="form-group">
                                                        <label for="phone-update">联系电话</label> <input type="text"
                                                                                                      class="form-control w-100"
                                                                                                      id="phone-update"
                                                                                                      aria-describedby="emailHelp"
                                                                                                      placeholder="联系电话"
                                                                                                      name="phone">
                                                    </div>
                                                    <br/>

                                                    <div class="form-group">

                                                        <label for="first-price-update">首重价格（￥）</label> <input
                                                            type="text" class="form-control w-100"
                                                            id="first-price-update"
                                                            aria-describedby="emailHelp" placeholder="首重价格" value="￥8">
                                                    </div>
                                                    <br/>

                                                </div>
                                                <br/>
                                                <div class="col-md-6">
                                                    <div class="form-group" id="city-picker2-form">
                                                        <label for="city-picker2">站点地址</label> <input
                                                            id="city-picker2" class="form-control w-100"
                                                            type="text" value=""
                                                            data-toggle="city-picker">

                                                    </div>
                                                    <br/>
                                                    <div class="form-group">
                                                        <label for="Site-manager-update">站点负责人</label> <input
                                                            type="text" class="form-control w-100"
                                                            id="Site-manager-update" aria-describedby="emailHelp"
                                                            placeholder="负责人姓名" value="AAA">
                                                    </div>
                                                    <br/>
                                                    <div class="form-group">
                                                        <label for="first-heavy-update">首重范围（KG）</label> <input
                                                            type="text" class="form-control w-100"
                                                            id="first-heavy-update"
                                                            aria-describedby="emailHelp" placeholder="首重范围" value="2KG">
                                                    </div>
                                                    <br/>
                                                    <div class="form-group">
                                                        <label for="second-price-update">次KG价格（￥）</label> <input
                                                            type="text" class="form-control w-100"
                                                            id="second-price-update" aria-describedby="emailHelp"
                                                            placeholder="次KG价格" value="￥4">
                                                    </div>
                                                    <br/>
                                                </div>
                                                <br/>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="reset" class="btn btn-info">清空</button>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <button type="button" class="btn btn-default"
                                                        data-dismiss="modal">关闭
                                                </button>
                                                <button type="submit" class="btn btn-primary">提交更改</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal -->
                    </div>

                    <!--模态窗 - add-site-->
                    <div class="modal fade" id="add-site" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true"
                         style="z-index: 10000;">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">

                                    <h4 class="modal-title" id="myModalLabel">
                                        <i class="icon" data-icon="g"></i>&nbsp;&nbsp;新增站点登记
                                    </h4>
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <!--*****	站点信息	 *****-->
                                    <div class="card form" id="form3">

                                        <form>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="site-number1">站点编号</label> <input type="text"
                                                                                                      class="form-control w-100"
                                                                                                      id="site-number1"
                                                                                                      aria-describedby="emailHelp"
                                                                                                      placeholder="站点编号"
                                                                                                      name="siteId">
                                                    </div>
                                                    <br/>
                                                    <div class="form-group">
                                                        <label for="detailed-address">详细地址</label> <input
                                                            type="text" class="form-control w-100"
                                                            id="detailed-address" aria-describedby="emailHelp"
                                                            placeholder="详细地址">
                                                    </div>
                                                    <br/>
                                                    <div class="form-group">
                                                        <label for="phone">联系电话</label> <input type="text"
                                                                                               class="form-control w-100"
                                                                                               id="phone"
                                                                                               aria-describedby="emailHelp"
                                                                                               placeholder="联系电话">
                                                    </div>
                                                    <br/>

                                                    <div class="form-group">

                                                        <label for="first-price">首重价格（￥）</label> <input
                                                            type="text" class="form-control w-100" id="first-price"
                                                            aria-describedby="emailHelp" placeholder="首重价格">
                                                    </div>
                                                    <br/>

                                                </div>
                                                <br/>
                                                <div class="col-md-6">
                                                    <div class="form-group" id="city-picker3-form">
                                                        <label for="city-picker3">站点地址</label> <input
                                                            id="city-picker3" class="form-control" type="text"
                                                            value="河南省/郑州市/金水区" data-toggle="city-picker">

                                                    </div>
                                                    <br/>
                                                    <div class="form-group">
                                                        <label for="Site-manager-add">站点负责人</label> <input
                                                            type="text" class="form-control w-100"
                                                            id="Site-manager-add" aria-describedby="emailHelp"
                                                            placeholder="负责人姓名">
                                                    </div>
                                                    <br/>
                                                    <div class="form-group">
                                                        <label for="first-heavy">首重范围（KG）</label> <input
                                                            type="text" class="form-control w-100" id="first-heavy"
                                                            aria-describedby="emailHelp" placeholder="首重范围">
                                                    </div>
                                                    <br/>
                                                    <div class="form-group">
                                                        <label for="second-price">次KG价格（￥）</label> <input
                                                            type="text" class="form-control w-100"
                                                            id="second-price" aria-describedby="emailHelp"
                                                            placeholder="次KG价格">
                                                    </div>
                                                    <br/>
                                                </div>
                                                <br/>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="reset" class="btn btn-info">清空</button>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <button type="button" class="btn btn-default"
                                                        data-dismiss="modal">关闭
                                                </button>
                                                <button type="submit" class="btn btn-primary">提交更改</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>

                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal -->
                    </div>


                </div>

            </div>

        </div>

    </div>


</div>

</body>

<!--Global Javascript -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/popper/popper.min.js"></script>
<script src="/static/js/tether.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.cookie.js"></script>
<script src="/static/js/jquery.validate.min.js"></script>
<script src="/static/js/chart.min.js"></script>
<script src="/static/js/front.js"></script>

<script src="/static/js/city-picker.data.js"></script>
<script src="/static/js/city-picker.js"></script>


<script>


    //修改按钮的操作
    function query(id) {
        // alert("修改==========" + id);
        $.ajax({
            url: "/querySite",
            async: true,
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            data: JSON.stringify({"id": id, "time": new Date()}),
            success: function (map) {
                $("#site-number-update").val(map.id);
                $("#detailed-address-update").val(map.stationName);
                // $("#city-picker2").val(map.stationAddress);
                $("#phone-update").val(map.tel);

                // alert(map.province);
                // alert(map.city);

                $("#city-picker2").citypicker("reset");
                $("#city-picker2").citypicker("destroy");
                $("#city-picker2").citypicker({
                    province: map.province,
                    city: map.city
                    // ,district: '巩义市'
                });

                $("#city-picker2-form .city-picker-span").attr("style", "width:350px");
                $("#city-picker2-form .city-picker-dropdown").attr("style", "left: 0px;top: auto;width: 350px;");

            },
            error: function (data) {
                alert(data);
                alert("请求失败");
            },
            // dataType: "json"


        });


    }


    <!--页面加载完成后修改city-picker的样式-->
    $(function () {
        $("#city-picker2-form .city-picker-span").attr("style", "width:350px");
        $("#city-picker2-form .city-picker-dropdown").attr("style", "left: 0px;top: auto;width: 350px;");
        $("#city-picker3-form .city-picker-span").attr("style", "width:350px");
        $("#city-picker3-form .city-picker-dropdown").attr("style", "left: 0px;top: auto;width: 350px;");


        // $("#add-site-model").click(function () {
        //     $("#add-site").attr("style","z-index: 10000;display: block");
        // });

        // $("#update-site-model").click(function () {
        //     alert("1111111");
        //     $("#update-site").modal('show');
        //     // $(this).href("/updateSite");
        // });


    });

</script>

</html>