<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zoo.logistics.mapper.StationMapper" >
  <resultMap id="BaseResultMap" type="com.zoo.logistics.entity.Station" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="station_name" property="stationName" jdbcType="VARCHAR" />
    <result column="station_cityid" property="stationCityid" jdbcType="CHAR" />
    <result column="pos_lng" property="posLng" jdbcType="DECIMAL" />
    <result column="pos_lat" property="posLat" jdbcType="DECIMAL" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="superior" property="superior" jdbcType="INTEGER" />
    <result column="warehouse_capacity" property="warehouseCapacity" jdbcType="INTEGER" />

  </resultMap>
  <sql id="Base_Column_List" >
    station.id, station_name, station_cityid, pos_lng, pos_lat, level, superior, warehouse_capacity
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from station
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByCityName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from station,cities
    where station.station_cityid = cities.cityid and cities.city = #{cityName}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from station
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zoo.logistics.entity.Station" >
    insert into station (id, station_name, station_cityid, 
      pos_lng, pos_lat, level, 
      superior, warehouse_capacity)
    values (#{id,jdbcType=INTEGER}, #{stationName,jdbcType=VARCHAR}, #{stationCityid,jdbcType=CHAR}, 
      #{posLng,jdbcType=DECIMAL}, #{posLat,jdbcType=DECIMAL}, #{level,jdbcType=INTEGER}, 
      #{superior,jdbcType=INTEGER}, #{warehouseCapacity,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zoo.logistics.entity.Station" >
    insert into station
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="stationName != null" >
        station_name,
      </if>
      <if test="stationCityid != null" >
        station_cityid,
      </if>
      <if test="posLng != null" >
        pos_lng,
      </if>
      <if test="posLat != null" >
        pos_lat,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="superior != null" >
        superior,
      </if>
      <if test="warehouseCapacity != null" >
        warehouse_capacity,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stationName != null" >
        #{stationName,jdbcType=VARCHAR},
      </if>
      <if test="stationCityid != null" >
        #{stationCityid,jdbcType=CHAR},
      </if>
      <if test="posLng != null" >
        #{posLng,jdbcType=DECIMAL},
      </if>
      <if test="posLat != null" >
        #{posLat,jdbcType=DECIMAL},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="superior != null" >
        #{superior,jdbcType=INTEGER},
      </if>
      <if test="warehouseCapacity != null" >
        #{warehouseCapacity,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zoo.logistics.entity.Station" >
    update station
    <set >
      <if test="stationName != null" >
        station_name = #{stationName,jdbcType=VARCHAR},
      </if>
      <if test="stationCityid != null" >
        station_cityid = #{stationCityid,jdbcType=CHAR},
      </if>
      <if test="posLng != null" >
        pos_lng = #{posLng,jdbcType=DECIMAL},
      </if>
      <if test="posLat != null" >
        pos_lat = #{posLat,jdbcType=DECIMAL},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="superior != null" >
        superior = #{superior,jdbcType=INTEGER},
      </if>
      <if test="warehouseCapacity != null" >
        warehouse_capacity = #{warehouseCapacity,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zoo.logistics.entity.Station" >
    update station
    set station_name = #{stationName,jdbcType=VARCHAR},
      station_cityid = #{stationCityid,jdbcType=CHAR},
      pos_lng = #{posLng,jdbcType=DECIMAL},
      pos_lat = #{posLat,jdbcType=DECIMAL},
      level = #{level,jdbcType=INTEGER},
      superior = #{superior,jdbcType=INTEGER},
      warehouse_capacity = #{warehouseCapacity,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>